.grand-grand {
  display: flex;
  position: relative;
  background-color: aqua;
  height: 500px;
  width: 300px;
}

.grand {
  position: absolute;
  background-color: red;
  height: 900px;
  width: 900px;
}

.parent {
  height: 1000px;
  width: 1000px;
  background-color: yellow;
}
