/* body {
  height: 100%;
  width: 100%;
} */

.nav-bar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  padding-top: 10px;
  justify-content: center;
}

video {
  min-height: 700px;
  max-height: 1000px;
}

a {
  padding: 25px;
  color: azure;
  font-size: 25px;
  font-style: normal;
  text-decoration: none;
}
