.smoke {
  height: 200px;
  width: 200px;
  /* animation-name: wave; */
  animation-duration: 4s;
  /* background-color: brown; */
  background-image: linear-gradient(90deg, black 50% 50%, transparent 40%);
}

@keyframes wave {
  0% {
    height: 100px;
    width: 100px;
    background-image: linear-gradient(45deg, black 50% 50%, transparent 40%);
  }
  10% {
    height: 200px;
    width: 200px;
    background-image: linear-gradient(45deg, blue 50% 50%, transparent 40%);
  }
  20% {
    height: 300px;
    width: 300px;
    background-image: linear-gradient(45deg, yellow 50% 50%, transparent 40%);
  }
  30% {
    height: 400px;
    width: 400px;
    background-image: linear-gradient(45deg, grey 50% 50%, transparent 40%);
  }
}
